<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>AI Resume Analyzer</title>

<style>

body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

.container{
background:white;
padding:30px;
width:650px;
margin:auto;
margin-top:50px;
box-shadow:0px 0px 10px gray;
}

input,textarea{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:blue;
color:white;
border:none;
cursor:pointer;
}

.result{
margin-top:20px;
text-align:left;
}

h3{
color:#333;
}

</style>

</head>

<body>

<div class="container">

<h1>AI Resume Analyzer</h1>

<form method="post" action="/analyze" enctype="multipart/form-data">

<input type="file" name="file" required>

<textarea name="jobDescription" placeholder="Enter Job Description"></textarea>

<button type="submit">Analyze Resume</button>

</form>

<div class="result" th:if="${score}">

<h2>ATS Resume Score: <span th:text="${score}"></span>/100</h2>

<div th:utext="${result}"></div>

<br>

<a href="/">
<button>Upload Another Resume</button>
</a>

</div>

</div>

</body>
</html>